<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controladorLogin</servlet-name>
        <servlet-class>com.controler.controladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorMaterias</servlet-name>
        <servlet-class>com.controler.controladorMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorListaCuestionarios</servlet-name>
        <servlet-class>com.controler.controladorListaCuestionarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorCreaCuestionario</servlet-name>
        <servlet-class>com.controler.controladorCreaCuestionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorEvaluacion</servlet-name>
        <servlet-class>com.controler.controladorEvaluacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controladorLogin</servlet-name>
        <url-pattern>/controladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorMaterias</servlet-name>
        <url-pattern>/controladorMaterias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorListaCuestionarios</servlet-name>
        <url-pattern>/controladorListaCuestionarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorCreaCuestionario</servlet-name>
        <url-pattern>/controladorCreaCuestionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorEvaluacion</servlet-name>
        <url-pattern>/controladorEvaluacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
